.Produto{
    color: white;
    font-family: Futura, Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    background-color: #707070;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.cest{
    height: 0px;
    height: auto;
}

.Card:hover{
    cursor: pointer;
}